<mat-card class="about-card">
  <mat-card-header>
    <mat-card-title> 关于 </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p>
      本站是一个开源项目，收集网络上常见的伪装类型解码器，并以纯前端实现离线解码
    </p>
    <p>
      如果需要离线使用，请将本页面以PWA方式安装（<app-external-link
        href="https://web.dev/learn/pwa/installation?hl=zh-cn#installation_criteria"
        >PWA 安装方法</app-external-link
      >）。或者前往GitHub下载源码进行编译
    </p>
    <p>目前收录的编码类型包括：</p>
    <ul>
      @for (plugin of pluginList; track plugin.id) {
        <li>
          @if (plugin.link) {
            <app-external-link href="{{ plugin.link }}">{{
              plugin.name
            }}</app-external-link>
          } @else {
            {{ plugin.name }}
          }
        </li>
      }
    </ul>

    代码问题请提交
    <app-external-link
      href="https://github.com/yuudi/one-revealer/issues"
      rel="noopener noreferrer"
      >Issue</app-external-link
    >，非代码问题也欢迎参与<app-external-link
      href="https://github.com/yuudi/one-revealer/discussions"
      >自由讨论</app-external-link
    >
  </mat-card-content>
</mat-card>
