<mat-card class="about-card">
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="关于">
        <p>
          本站是一个开源项目，收集各种解码器，无需选择类型，自动推测内容，纯前端实现解码。
        </p>

        <p>目前收录的编码类型包括：</p>
        <ul>
          @for (plugin of pluginList; track plugin.id) {
            <li>
              @if (plugin.link) {
                <a app-external-link="{{ plugin.link }}">{{ plugin.name }}</a>
              } @else {
                {{ plugin.name }}
              }
              @if (plugin.author) {
                <span class="author">by {{ plugin.author }}</span>
              }
            </li>
          }
        </ul>

        若有代码问题请提交
        <a
          app-external-link="https://github.com/yuudi/one-decoder/issues"
          rel="noopener noreferrer"
          >Issue</a
        >，非代码问题也欢迎参与<a
          app-external-link="https://github.com/yuudi/one-decoder/discussions"
          >自由讨论</a
        >
      </mat-tab>
      <mat-tab label="进阶">
        <h2>快捷链接</h2>
        <p>
          可以将需要解码的文本直接放在 URL 中，例如
          <br />
          <code> {{ baseUrl }}#/decoder?input=57uf5LiA6Kej56CB </code>
        </p>
        <h2>PWA</h2>
        <p>
          本站支持渐进式 Web 应用（PWA），用户可以将本页面安装为应用，离线使用。
        </p>
        <p>
          PWA 安装方法可参考
          <a
            app-external-link="https://web.dev/learn/pwa/installation#installation_criteria"
            >Google Web Dev</a
          >
        </p>
        <p>
          安装为 PWA
          后，可以直接将文本分享给本应用，获取解码结果。（需要系统支持，目前支持情况请参考
          <a
            app-external-link="https://developer.mozilla.org/docs/Web/Progressive_web_apps/Manifest/Reference/share_target#browser_compatibility"
            >MDN</a
          >
          ）
        </p>
      </mat-tab>
      <mat-tab label="隐私">
        <p>
          本站<b>不收集</b>任何用户数据，所有解码均在本地浏览器完成，用户的输入、输出不会被发送到任何服务器。
        </p>
        <p>
          本站<b>不使用</b>任何分析服务（如 Google Analytics）或第三方 Cookie。
        </p>
        <p>
          本站托管于
          <a app-external-link="https://pages.github.com/">GitHub Pages</a>
          ，基础资源由 GitHub 的服务器处理。
        </p>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
