<mat-toolbar id="app-toolbar-top">
  <mat-toolbar-row class="title-row">
    <span>统一解码</span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button mat-button routerLink="/decoder" class="button-with-icon-text">
      <mat-icon fontIcon="key" class="button-icon" /> 解码
    </button>
    <button mat-button routerLink="/encoder" class="button-with-icon-text">
      <mat-icon fontIcon="text_snippet" class="button-icon" /> 编码
    </button>
    <button mat-button routerLink="/about" class="button-with-icon-text">
      <mat-icon fontIcon="info" class="button-icon" /> 关于
    </button>
    <span class="spacer"></span>
    <span class="title-inline">统一解码</span>
    <span class="spacer"></span>
    @if (installable()) {
      <button mat-button (click)="installPWA()" class="button-with-icon-text">
        <mat-icon
          [fontIcon]="isMobileDevice ? 'install_mobile' : 'install_desktop'"
          class="button-icon"
        />
        安装
      </button>
    }
    @if (canShare) {
      <button mat-button (click)="share()" class="button-with-icon-text">
        <mat-icon fontIcon="share" class="button-icon" />
        分享
      </button>
    }
    <a
      mat-button
      href="https://github.com/yuudi/one-revealer"
      target="_blank"
      class="button-with-icon-text"
    >
      <mat-icon svgIcon="github" class="button-icon" />
      源码
    </a>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
